*{
	padding: 0;
	margin: 0;
	/*color: white;*/
	font-family: 'Open Sans 300', sans-serif;
	font-weight: 300;
}

body{
	/*para o background ficar sempre bonito*/
	 background: url("logos/background simples.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a{
	color: grey;
	text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
}

.links li {
    float: right;
}


.grid{
	display: grid;
	grid-template-columns: 20px 105px 200px 1fr 1fr 1fr 120px;
	grid-template-rows: 200px 20px 1fr 150px 1fr 75px 1fr 20px;
	grid-gap: 0px;
	grid-template-areas: 
	". . links links links . ."
	". . . . . . ."
	". . . . . . ."
	". . . . . . ."
	". . . . . . ."
	". . . . . . ."
	". . . . . . .";
	grid-row-gap: 0px;
}

/*background-color: red;
}
.grid div:nth-child(odd){
background-color: green;
}*/


.links{
	grid-area: links;
	justify-self: start;
}

/*FALTA CRIAR UM LINKEDIN*/

.menu{
	/*grid-area: menu;
	justify-self: center;
	padding: 0px;
	padding-top: 20px;*/
	position: fixed;
	padding: 5pt;
    right: 50px;
    top: 20px;
    align-self:left;
}

.rodape{
	/*grid-area: rodape;*/
	position: fixed;
	right: 20px;
	bottom: 10px;
	font-size: 8pt;
}

.menu ul li ul{
	/*grid-area: nav;*/
    position: fixed;
    right: 50px;
    top: 75px;   
}



.menu ul li ul li{
	width: 250px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	margin: 5px;
	background-color: #696969;
	opacity: .7;
	display: none;	
}


.menu ul li ul li a{
		text-decoration: none;
		color: white;
}

.menu ul li ul li:hover{
	background-color: #2f8ac6;
	font-size: 13pt;
}

.menu ul li:hover ul li {
	display: block;
}


.tabela_programming table{
	position: fixed;
	top: 150px;
	left: 50px;
	border-collapse: collapse;
	color: white;
}
.tabela_academic table{
	position: fixed;
	top: 400px;
	left: 50px;
	border-collapse: collapse;
	color: white;
}

th{
 	text-align: left;
 	padding-bottom: 5px;
 	color: rgb(10, 138, 198); 
 }


td{
	font-size: 10pt;
	padding-top: 10px;
 
}

table, th, td{
	border-left: 1px solid rgb(10, 138, 198);
	padding-left: 10px;

}




/* SKILL BOXES */

* {box-sizing:border-box}

/* Make sure that padding behaves as expected (nao percebo exatamente como) */

.container_1 {
    width: 200px; 
    background-color: grey;
    height: 15px;
    position: fixed;
    top: 185px;
    left: 150px;   
}
.container_2 {
    width: 200px; 
    background-color: grey;
    height: 15px; 
    position: fixed;
    top: 210px;
    left: 150px;  
}
.container_3 {
    width: 200px;
    background-color: grey;
    height: 15px; 
    position: fixed;
    top: 235px;
    left: 150px; 
}
.container_4 {
    width: 200px; 
    background-color: grey;
    height: 15px; 
    position: fixed;
    top: 260px;
    left: 150px;  
}
.container_5 {
    width: 200px; 
    background-color: grey;
    height: 15px; 
    position: fixed;
    top: 285px;
    left: 150px; 
}
.container_6 {
    width: 200px; 
    background-color: grey;
    height: 15px; 
    position: fixed;
    top: 310px;
    left: 150px;
}

.skills {
	padding-left: 50px;
    text-align: right; 
    padding-right: 5px;
    line-height: 15px; 
    color: white; 
    font-size: 8pt;
}

.html {width: 90%; height: 15px; background-color: rgb(10, 138, 198);} 
.css {width: 80%; height: 15px; background-color: rgb(10, 138, 198);} 
.c {width: 90%; height: 15px; background-color: rgb(10, 138, 198);} 
.js {width: 60%; height: 15px; background-color: rgb(10, 138, 198);} 
.ass {width: 70%; height: 15px; background-color: rgb(10, 138, 198);} 
.mat {width: 70%; height: 15px; background-color: rgb(10, 138, 198);} 


.tabela_languages table{
	position: fixed;
	top: 150px;
	left: 500px;
	border-collapse: collapse;
	color: white;
}

.tabela_soft_skills table{
	position: fixed;
	top: 400px;
	left: 500px;
	border-collapse: collapse;
	color: white;
}

/* FAZER COM QUE SE ADAPTE AS DIMENSOES
 DA JANELA OU DISPOSITIVO */

